
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg"  style= "background-image: url('/assets/img/breadcrumb.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="breadcrumb__text">
                      <h2>Contactanos!</h2>
                      <div class="breadcrumb__option">
                          <a href="./index.html">Inicio</a>
                          <span>Contactanos</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Breadcrumb Section End -->

  <!-- Contact Section Begin -->
  <section class="contact spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                  <div class="contact__widget">
                      <span class="fa-solid fa-phone" style="font-size:48px;color:#7fad39"></span>
                      <h4>Telefono</h4>
                      <p> 1123241536</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                  <div class="contact__widget">
                      <span class="fa-solid fa-location-dot"style="font-size:48px;color:#7fad39"></span>
                      <h4>Dirección</h4>
                      <p>Buenos Aires</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                  <div class="contact__widget">
                      <span class="fa-solid fa-clock"style="font-size:48px;color:#7fad39"></span>
                      <h4>Horario</h4>
                      <p>10:00 am - 18:00 pm</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                  <div class="contact__widget">
                      <span class="fa-solid fa-envelope"style="font-size:48px;color:#7fad39"></span>
                      <h4>Email</h4>
                      <p>hola@ogani.com</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Contact Section End -->

  <!-- Map Begin -->
  <div class="map">
      <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13136.52153114251!2d-58.3689689!3d-34.6008644!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x153ceeebf860cc57!2sTorre%20Bouchard%20Plaza!5e0!3m2!1ses-419!2sar!4v1654628723987!5m2!1ses-419!2sar"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="map-inside">
          <i class="icon_pin"></i>
          <div class="inside-widget">
              <h4>Torre Bouchard Plaza</h4>
              <ul>
                  <li>Telefono:1123241536</li>
                  <li>Buenos Aires</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- Map End -->

  <!-- Contact Form Begin -->
  <div class="contact-form spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="contact__form__title">
                      <h2>Contacto</h2>
                  </div>
              </div>
          </div>
          <form action="#">
              <div class="row">
                  <div class="col-lg-6 col-md-6">
                      <input type="text" placeholder="Tu nombre">
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <input type="text" placeholder="Tu Email">
                  </div>
                  <div class="col-lg-12 text-center">
                      <textarea placeholder="Your message"></textarea>
                      <button type="submit" class="site-btn">ENVIAR MENSAJE</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <!-- Contact Form End -->
