

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg"  style= "background-image: url('/assets/img/breadcrumb.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="breadcrumb__text">
                      <h2>Carrito De Compras</h2>
                      <div class="breadcrumb__option">
                          <a href="./index.html">Inicio</a>
                          <span>Carrito De Compras</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Breadcrumb Section End -->

  <!-- Shoping Cart Section Begin -->
  <section class="shoping-cart spad">
      <div >
          <div class="row">
              <div class="col-lg-12">
                  <div class="shoping__cart__table">
                      <table>
                          <thead>
                              <tr>
                                  <th class="shoping__product">Productos</th>
                                  <th>Precio</th>
                                  <th>Cantidad</th>
                                  <th>Total</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody class="container"*ngFor="let producto of carrito">
                              <tr>
                                  <td class="shoping__cart__item">
                                      <img src="{{producto.imagen}}" alt="" style="width: 150px;height: 150px;">
                                      <h5>{{producto.nombre}}</h5>
                                  </td>
                                  <td class="shoping__cart__price">
                                      {{producto.precio}}
                                  </td>
                                  <td class="shoping__cart__quantity">
                                      <div class="quantity">
                                          <div class="pro-qty">
                                              <input type="text" value="{{cantidad}}">
                                          </div>
                                      </div>
                                  </td>
                                  <td class="shoping__cart__total">
                                     {{producto.precio}}
                                  </td>
                                  <td class="shoping__cart__item__close">
                                      <span class="icon_close"></span>
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="shoping__cart__btns">
                      <a href="#" class="primary-btn cart-btn">CONTINUAR COMPRANDO</a>
                      <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                          Actualizar Carrito</a>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="shoping__continue">
                      <div class="shoping__discount">
                          <h5>¿Tenés un código de descuento? </h5>
                          <form action="#">
                              <input type="text" placeholder="Introducir código de descuento">
                              <button type="submit" class="site-btn">APLICAR CUPON</button>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="shoping__checkout">
                      <h5>RESUMEN DE COMPRA</h5>
                      <ul>
                          <li>Subtotal <span>${{total}}</span></li>
                          <li>Total <span>${{total}}</span></li>
                      </ul>
                      <a routerLink='/vista-clientes/checkout' class="primary-btn">INICIAR COMPRA</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Shoping Cart Section End -->
