<div class="container">

  <mat-toolbar>
    <span>Detalles del Cliente</span>
  </mat-toolbar>

<div>
  <div>
    <label><b>Id:</b> {{cliente.id}}</label>
  </div>
  <div>
    <label><b>Nombre:</b> {{cliente.nombre}}</label>
  </div>
  <div>
    <label><b>Apellido:</b> {{cliente.apellido}}</label>
  </div>
  <div>
    <label><b>Direccion:</b> {{cliente.direccion}}</label>
  </div>
  <div>
    <label><b>Documento:</b> {{cliente.documento}}</label>
  </div>

  <div>
    <label><b>Telefono:</b> {{cliente.telefono}}</label>
  </div>
</div>

</div>
