 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section set-bg"  style= "background-image: url('/assets/img/breadcrumb.jpg')">

  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                  <h2>Todos nuestros productos</h2>
                  <div class="breadcrumb__option">
                      <a href="./index.html">Inicio</a>
                      <span>Tienda</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-5">
              <div class="sidebar">
                  <div class="sidebar__item">
                      <h4>Categorias</h4>
                      <ul>
                          <li><a href="#">Almacen</a></li>
                          <li><a href="#">Bebidas</a></li>
                          <li><a href="#">Congelados</a></li>
                          <li><a href="#">Snacks</a></li>
                          <li><a href="#">Ofertas</a></li>
                      </ul>
                  </div>




              </div>
          </div>
          <div class="col-lg-9 col-md-7">

              <div class="filter__item">
                  <div class="row">
                      <div class="col-lg-4 col-md-5">
                          <div class="filter__sort">
                              <span>Sort By</span>
                              <select>
                                  <option value="0">Default</option>
                                  <option value="0">Default</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                          <div class="filter__found">
                              <h6><span>16</span> Products found</h6>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-3">
                          <div class="filter__option">
                              <span class="icon_grid-2x2"></span>
                              <span class="icon_ul"></span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-1.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Not Chicken Burger Crispy 2u x 200gr - NOTCO</a></h6>
                              <h5>$641.71</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-2.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Ravioles Chinos Carne y Cebolla x 400 gr - FU BAO</a></h6>
                              <h5>$520,12</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-3.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Fideos de Arroz Spaghetti x 500gr SIN TACC - BLUE PATNA</a></h6>
                              <h5>$426.44</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-4.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Not Ice Cream Strawberry & Cream x 330gr 100% VEGANO - NOTCO</a>
                              </h6>
                              <h5>$728.84</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-5.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Mix 4 Berries Arándanos, Frambuesas, Moras y Frutillas x 400gr -
                                      KARINAT</a></h6>
                              <h5>$793.44</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-6.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Not Burger Premium XL x 240gr (2u) SIN TACC - NOTCO</a></h6>
                              <h5>$587.75</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-7.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Miel Cremosa x 300gr - MONTECITOS</a></h6>
                              <h5>$566.37</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-8.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Edamame Porotos con Vaina Congelados x 400gr - EDAGREENS</a></h6>
                              <h5>$833.17</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-9.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Laddubar Barras COCO CHOCO Dátiles Coco Cacao Nibs x 30gr Sin
                                      Tacc/Kosher - GOLDEN MONKEY</a></h6>
                              <h5>$117.66</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-10.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Chips De Papas sabor Honey Mustard x 65 g SIN TACC - BOUTIQUE CHIPS
                                  </a></h6>
                              <h5>$187.62</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg"  style= "background-image: url('/assets/img/product/product-11.jpg')">
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Helado Banana Split Bajo en Calorías APTO DIABETICO SIN TACC x 130gr
                                      - MUNSTA</a></h6>
                              <h5>$257.13</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <div class="product__item__pic set-bg" style= "background-image: url('/assets/img/product/product-12.jpg')">
                         <!--  <img src="/assets/img/product/product-12.jpg" alt="image">-->
                              <ul class="product__item__pic__hover">
                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                          </div>
                          <div class="product__item__text">
                              <h6><a href="#">Burganas Hamburguesa de Romero + Zanahoria Dulce 4U x 460gr - TIENDA
                                      VEGGIE</a></h6>
                              <h5>$352.89</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="product__pagination">
                  <a href="#">1</a>
                  <a href="./shop-grid - page2.html">2</a>
                  <a href="#"><i class="fa fa-long-arrow-right"></i></a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Product Section End -->
