<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a href="#"><img src="/src/assets/img/logo.png" alt=""></a>
  </div>
  <div class="humberger__menu__cart">
    <ul>
      <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
      <li><a href="#"><i class="fa-solid fa-cart-shopping-fast"></i> <span>3</span></a></li>
    </ul>
  </div>
  <div class="humberger__menu__widget">

    <div class="header__top__right__auth">

      <a href="./login.html"><i class="fa fa-user"></i>Mi cuenta</a>
    </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li class="active"><a href="./index.html">Inicio</a></li>
      <li><a href="./shop-grid.html">Productos</a></li>
      <li><a href="#">Pages</a>
        <ul class="header__menu__dropdown">
          <li><a href="./shop-details.html">Shop Details</a></li>
          <li><a href="./shoping-cart.html">Shoping Cart</a></li>
          <li><a href="./checkout.html">Check Out</a></li>
          <li><a href="./blog-details.html">Blog Details</a></li>
        </ul>
      </li>
      <li><a href="./contact.html">Contacto</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="humberger__menu__contact">
    <ul>
      <li><i class="fa fa-envelope"></i> hola@ogani.com</li>
      <li>Envio gratuito a partir de $3500</li>
    </ul>
  </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->

<div class="header">

  <!--BARRA DE BUSQUEDA-->
  <div class="pricipal-container">

    <div class="hero__search">
      <div class="hero__search__form">
        <form action="#">
          <input type="text" placeholder="¿Qué estas buscando?">
          <button type="submit" class="site-btn">BUSCAR</button>
        </form>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="header__top__right">

          <div class="header__top__right__auth">
            <a routerLink='/vista-clientes/login-page'><i class="fa-solid fa-user"></i>INGRESÁ O REGISTRATE</a>

          </div>
          <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
          <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
            <mat-icon>logout</mat-icon>
          </button>

        </div>
      </div>
    </div>
    <!------------------- LOGO----------------->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="header__logo">
            <a href="./index.html"><img class="logo" src="../assets/img/logo.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="header__menu">
            <ul>
              <li class="active"><a routerLink='/vista-clientes/inicio'>Inicio</a></li>
              <li><a routerLink='/vista-clientes/shop-grid'>Productos</a></li>
              <li><a routerLink='/vista-clientes/our'>Nosotros</a></li>
              <li><a routerLink='/vista-clientes/contact'>Contacto</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="header__cart">
            <ul>
              <li><a href="#"><i class="fa fa-heart"style="font-size:20px"></i> </a></li>
              <li><a routerLink='/vista-clientes/shopping-cart'><i class="fa fa-shopping-bag"style="font-size:20px"></i>
                  </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="humberger__open">
        <i class="fa fa-bars"></i>
      </div>
    </div>

  </div>

  <!-- Header Section End -->
