
<div class="container">
  <mat-toolbar>
    <span>Detalles del Producto</span>
  </mat-toolbar>

<div>
  <div>
    <label><b>Id:</b> {{producto.id}}</label>
  </div>
  <div>
    <label><b>Nombre:</b> {{producto.nombre}}</label>
  </div>
  <div>
    <label><b>Descripcion:</b> {{producto.descripcion}}</label>
  </div>
  <div>
    <label><b>Cantida De Stock:</b> {{producto.cantStock}}</label>
  </div>
  <div>
    <label><b>Categoria:</b> {{producto.categoria}}</label>
  </div>
  <div>
    <label><b>Precio:</b> {{producto.precio}}</label>
  </div>
  <div>
    <label><b>Imagen:</b> {{producto.imagen}}</label>
  </div>

  <div>
    <label><b>Proveedor:</b> {{producto.proveedor.nombre}}</label>
  </div>





</div>

</div>
