<div class="body">
  <div class="login">
    <form [formGroup]="form">
      <img [src]="logo" alt="" width="50%" height="80%">
      <h1 class="h3 mb-3 fw-normal" style="color:#7fad39; font-weight: 700;" >Login</h1>
      <mat-form-field class="ancho" appearance="fill">
          <mat-label>Usuario</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="usuario">
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput autocomplete="off" formControlName="password">
        </mat-form-field>
        <br>
        <button (click)="ingresar()" class="ancho" mat-raised-button mat-button color="primary" [disabled]="form.invalid">Ingresar</button>
    </form>

  </div>
</div>


