    <!-- Footer Section Begin -->
    <footer class="footer spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer__about">
                      <div class="footer__about__logo">
                          <a href="./index.html"><img src="../assets/img/logo.png" alt=""></a>
                      </div>
                      <p>En Ogani® amamos lo sano, rico y natural!. Llegamos a tu casa con alimentos conscientes
                          que contribuyen a una mejor alimentación, directo del productor y al mejor precio!</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 ">
                  <div class="footer__widget">
                      <h6>Nosotros</h6>
                      <ul>
                          <li><a href="#">Sobre Nosotros</a></li>
                          <li><a href="#">Contactanos</a></li>
                          <li><a href="#">Zonas de envios</a></li>
                          <li><a href="#">Politica de Devolucion</a></li>
                          <li><a href="#">Como Comprar</a></li>
                      </ul>

                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer__widget">

                      <h6>Contactános</h6>
                      <ul>
                          <li>Buenos Aires</li>
                          <li>1123241536</li>
                          <li>hola@ogani.com</li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-12">
                  <div class="footer__widget">
                      <h6>Sigamos en Contacto</h6>

                      <div class="footer__widget__social">
                          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="footer__copyright">
                      <div class="footer__copyright__text">
                          <p>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>
                                  document.write(new Date().getFullYear());
                              </script> The Ogani®. Todos los derechos reservados. <i class="fa fa-heart"
                                  aria-hidden="true"></i> by <b>Brenda Torrico</b>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          </p>
                      </div>
                      <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->
