
<div>vector {{productos.length}}</div>
<!--<div *ngFor="let producto of productos">{{producto.nombre}}</div>-->
<!--
<div class="container">

<h1>Productos</h1>

    <table class="table table-striped">
    <thead class="table-success">
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Stock</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th>Proveedor</th>
        <th>Acciones</th>
      </tr>

    </thead>

    <tbody>
      <tr *ngFor="let producto of productos">
          <td>{{producto.nombre}}</td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.cantStock}}</td>
          <td>{{producto.categoria}}</td>
          <td>{{producto.precio}}</td>
          <td>{{producto.proveedor.nombre}}</td>


          <td>
            <button (click)="actualizarProducto(producto.id)" class="btn btn-success text-white">Editar</button>
            <button (click)="eliminarProducto(producto.id)" class="btn btn-success" style="margin-left: 10px;">Eliminar</button>
            <button (click)="verDetallesProducto(producto.id)" class="btn btn-success" style="margin-left: 10px;">Detalles</button>

          </td>
      </tr>
    </tbody>
    </table>
    </div>
  -->
