<div class="container">
  <mat-toolbar>
    <span>Vendedores</span>
  </mat-toolbar>


<table class="table table-striped">
<thead class="table-success">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Direccion</th>
    <th>Documento</th>
    <th>Acciones</th>
  </tr>

</thead>

<tbody>
  <tr *ngFor="let vendedor of vendedores"> <!--Recorremos la lista de empleados de lista-vendedors.component.ts-->
      <td>{{vendedor.nombre}}</td>
      <td>{{vendedor.apellido}}</td>
      <td>{{vendedor.direccion}}</td>
      <td>{{vendedor.documento}}</td>
      <td>
        <button (click)="actualizarVendedor(vendedor.id)" class="btn btn-success text-white">Editar</button>
        <button (click)="eliminarVendedor(vendedor.id)" class="btn btn-success" style="margin-left: 10px;">Eliminar</button>
        <button (click)="verDetallesVendedor(vendedor.id)" class="btn btn-success" style="margin-left: 10px;">Detalles</button>

      </td>
  </tr>
</tbody>
</table>
</div>
